h1{
    text-align: center;
    text-transform: uppercase;
}

#options, #result{
    margin: 50px 0;
    display:flex;
    justify-content:center;
}

#options img, #result img{
    width: 150px;
    height: 150px;
    margin: 0 50px;
}

#options img:hover{
    box-shadow:  0 0 5px black, 0 0 15px black;
}

#result h2{
    font-size:2rem;
    margin: 0 50px;
    align-self: center;
}

.win{
    box-shadow:  0 0 2px black, 0 0 15px green;
}
.draw{
    box-shadow:  0 0 2px black, 0 0 15px yellow;
}
.lose{
    box-shadow:  0 0 2px black, 0 0 15px red;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
    text-align: center;
}

#scores{
    display: none;
}

table{
    margin:0 auto;
    width: 400px;
    table-layout: fixed;
    font-size:1.5rem;
}

button{
    width:100px;
    height:30px;
}

@media (max-width:700px){
    h1{
        font-size:1.5em;
    }

    #options, #result{
        margin: 50px 0;
        display:flex;
        justify-content:center;
    }

    #options img, #result img{
        width: 25vw;
        height: 25vw;
        margin: 0 10px;
        margin-bottom:50px;
    }

    #result h2{
        font-size:1.5rem;
        margin: 0 50px;
        align-self: center;
    }

    table{
        margin:0 auto;
        width: 90vw;
    }

    button{
        width:90vw;
        height:5vh;
    }

}